.aside-block
  & > *
    width: 100%
    padding: 0
  & .content
    margin-top: 17px;
  & .line-container
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
  & .left-title .vertical-line
    height: 7px;
    width: 100%;
    order: 2
    margin-top: 5px;
    margin-left: 12px;
  & .left-title h2
    width: 100%;
    transform: none;
    background: none;
    padding: 0;
    position: relative;
    order: 1
    font-size: 24px


.aside-block
  & .articles-vertical
    padding: 0
  & .title-time
    padding: 0
    width: 100%
  & article
    margin: 18px 0 15px;
  & .link-title
    margin: 12px 0 0
  & h3
    font-size: 16px;
    line-height: 21px;

.advertising
  margin 48px 0 56px
  & > *
    width: 100%
    display: block

//form
.aside-block .form-wrap
  background: #f3f3f3
  margin: 16.6% 0;
  padding: 11% 9.6%;

.aside-block form
  & *
    display: block
    width: 100%
    outline none
  & h4
    font-weight: 600;
    line-height: 18px;
    font-size: 19px;
    font-family: 'Cormorant'
    text-align: center
  & strong
    margin: 20px 0 11px;
    text-align: center
    font-family: 'Cormorant'
  & label
    margin-bottom: 13px;
  & input
  & select
    height: 28px;
    border: 0
  & button
    height: 23px
    border-radius: 23px;
    background: #455EA7;
    color: #fff;
    text-transform: uppercase;
    border: none
    letter-spacing: 3.6px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 12px;