//-------------------------------section-1---------------------//
.slider-wrap
  display: flex
  font-size: 0
  .slider
    width: 78%;
    & article
      display: flex

//slider
.slide-left
  width: 56.3%;
  & img
    width: 100%

.slide-right
  width: (100 - 56.3)%
  padding-left: 3.5%
  display: flex;
  flex-direction: column;
  justify-content: space-between;

.slide-right_top
  font-family: 'Cormorant'
  font-weight: 600
  & h3
    margin-top: 8.4%
    font-size: 26px
    line-height: 1;
  & p
    margin-top: 7%
    font-size: 14px

.slide-right_bot
  text-align: right
  & a
    background: #202020
    display: inline-block
    font-family: 'Roboto'
    font-size: 12px
    font-weight: 700
    text-transform: uppercase
    color: #fff
    letter-spacing: 3.5px;
    width: 125px
    height: 23px
    border-radius 22px
    text-align: center;
    line-height: 25px;

.ad
  width: 22%;
  text-align: right;
  & img
    width: 85%;


//-------------------------------section-2---------------------//
.most-popular
  margin-top: 119px

.article-big
  & .title-time
    margin-top: 4.2%;
  & article a:last-of-type
    margin-top: 3%;
  & h3
    font-size: 24px
    line-height: 26px

//-------------------------------section-3---------------------//


.video
  margin-top: 122px
  & .articles-horizontal
    margin-top: 0;
    & .line-vertical
      width: 1px;
      height: 253px;
      top: 0;
      position: relative;
      background: #5D5D5D;
    & h3
      color: #FFFFFF
      margin-top: 13px;
      margin-left: 1px;
    & .title-time
      margin-top: 12px;
      & time
        padding: 0 1px;
        line-height: 1;
        margin-right: 19px;
  & .articles-horizontal::before
    height: 150%;
    top: -39px;
    background: #202020;
  & .button-block a
    background: #FFFFFF;
    color: #202020;
  & .button-line::before
    background: #5D5D5D;
  & .horizontal-line
    width: 100%;
    display: block;
    position: relative;
    height: 7px;
    background: #5D5D5D;


//-------------------------------section-4---------------------//
.interesting-facts
  margin-top : 88px

//-------------------------------section-5---------------------//
.diet-food
  margin-top : 88px
  & .content
    display: flex
    & > *
      width: 50%
    & > .button-block
      width: 100%
  & .button-block
    margin-top: 87px;
    padding-right: 4.4%;

//-------------------------------section-6---------------------//
.beauty-health
  margin-top : 147px
  & .articles-horizontal
    margin-top: 0;
  & .button-block
    margin-top: 59px;
    padding-right: 4.4%;

//-------------------------------section-7---------------------//
.medicine-treatment
  margin-top : 88px
  & .content
    display: flex
    & > *
      width: 50%
    & > .button-block
      width: 100%
  & .button-block
    margin-top: 87px;
    padding-right: 4.4%;

//-------------------------------section-8---------------------//
.helpful-tips
  margin-top : 147px
  & .articles-horizontal
    margin-top: 0;
  & .button-block
    margin-top: 59px;
    padding-right: 4.4%;

//-------------------------------section-9---------------------//
.horoscope-patient
  margin-top : 111px
  & .articles-horizontal
    margin-top: 0;
  & .button-block
    margin-top: 21px;
    padding-right: 4.4%;
  & .hrp
    width: 90.58%;
    margin: 4.27% 0 0 3.4%;
    & .icons-img
      margin-bottom: 56px;
      & span
        letter-spacing: 1px;
        color: #000000;

//-------------------------------section-10---------------------//
.stomatology
  margin-top : 100px
  & .content
    display: flex
    & > *
      width: 50%
    & > .button-block
      width: 100%
  & .button-block
    margin-top: 87px;
    padding-right: 4.4%;


//-------------------------------section-11---------------------//
.psychology
  margin-top : 149px
  & .articles-horizontal
    margin-top: 0;
  & .button-block
    margin-top: 59px;
    padding-right: 4.4%;

