.page-content {
    padding-right: 3%;
}

.blog-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.blog-section .categories-section {
    width: 48%;
    display: flex;
    margin-bottom: 46px;
    position: relative;
}

.blog-section .categories-section.active {
    background-color: #f3f3f3;
}

.blog-section .categories-section:before {
    content: '';
    background-color: #f3f3f3;
    height: 33%;
    position: absolute;
    width: 100%;
}

.blog-section .categories-section img {
    padding-left: 4%;
    position: relative;
}

.blog-section .categories-section a {
    font-family: 'Cormorant Garamond', serif;
    font-size: 26px;
    color: #202020;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.blog-categories {
    margin-top: 27px;
}

.blog-categories .content {
    width: 100%;
    padding-right: 0;
}

.blog-categories .content .categories p {
    overflow: hidden;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 36px;
    color: #000;
}

.blog-categories .content .categories p:before {
    margin-left: -100%;
}

.blog-categories .content .categories p:after {
    margin-right: -100%;
}

.blog-categories p:before,
.blog-categories p:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background: #202020;
    border: solid #fff;
    border-width: 0 33px;
}

.blog-categories .select {
    display: flex;
    flex-wrap: wrap;
    line-height: 42px;
    margin-top: 35px;
}

.blog-categories .select a {
    font-family: 'Cormorant Garamond', serif;
    font-size: 19px;
    color: #000;
    margin-right: 34px;
}

.blog-categories .select a:before {
    content: "";
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    border: 1px solid #202020;
    width: 11px;
    height: 11px;
    margin-right: 7px;
}

.blog-categories .select a.active:before {
    border: 1px solid #7e2b83;
    background: #7e2b83;
}

.blog-section-post {
    margin-top: 59px;
}

.blog-section-post .content-blog {
    width: 100%;
}

.blog-section-post .content-blog .articles-horizontal {
    flex-wrap: wrap;
}

.blog-section-post .content-blog .articles-horizontal::before {
    display: none;
}

.blog-section-post .content-blog .articles-horizontal article {
    width: 45.49%;
    margin-top: 63px;
}

.blog-section-post .content-blog .articles-horizontal article:nth-child(1),
.blog-section-post .content-blog .articles-horizontal article:nth-child(2) {
    margin-top: 0;
}

