.test{
    width: 30px;
    background: green;
}
.test2{
    width: 10px;
    background: red;
}
.left{
    width: 100px;
    background: gray;
}

.two_pics {
    width: 333px;
    background: yellow;
}